.commit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column-reverse;
  margin: 0px auto;
  align-items: center;
}

.commit > .title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  margin: 10px auto;
  padding: 0;
}

.commit li {
  width: 300px;
  flex: 1;
  float: left;
  text-align: center;
  background: #ddd;
  display: inline;
}

.commit > div {
  padding: 0px 10px;
  display: none;
  width: 100%;
  background: #fff;
}

.commit > .title > li {
  background: #ddd;
  color: #000;
}

.commit button {
  height: 60px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  border: 0;
  background-color: inherit;
  padding: 0;
}
