.comment > .comment_switch_head {
  width: 100%;
  margin: 10px auto;
  padding: 0;
}

.comment > ul > li {
  width: 50%;
  float: left;
  text-align: center;
  background: #ddd;
  display: inline;
}

.comment > div {
  display: none;
  width: 100%;
  background: #fff;
}

.comment > .title > li {
  background: #ddd;
  color: #000;
}

.comment .comment_switch {
  height: 60px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  border: 0;
  background-color: inherit;
  padding: 0;
}
