{% extends "base.html" %}
{% block head %}
{{ super() }}
  <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:title" content="{{ SITENAME }} ~ {{ article.title }}">
  <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">

  <!-- simpread Meta Data -->
  <meta name="simpread:name" content="{{ SITEURL }}">
  <meta name="simpread:title" content="<h2>">
  <meta name="simpread:desc" content>
  <meta name="simpread:include" content="<div class='entry-content'>">

  <!-- Facebook Meta Data -->
  <meta property="og:title" content="{{ SITENAME }} ~ {{ article.title }}"/>
  <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
  <meta property="og:image" content=""/>
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/comment.css" type="text/css"/>
{% endblock head %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section id="content">
  <article>
    <h2 class="post_title post_detail">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a>
    </h2>

    <div class="entry-content blog-post">
      {{ article.content }}
    </div>

    <div class="post_list">
      <span>By </span>
      <a href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a>
      <span> in </span>
      <span class="post_category">
        <a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark" title="Permalink to {{ article.category|striptags }}">
          [ {{ article.category }} ]
        </a>
      </span>

      <span class="post_date">{{ article.locale_date }}</span>
      <div><span>Tags : </span>
        {% if article.tags %}
        {% for tag in article.tags %}
        <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}, </a></span>
        {% endfor %}
        {% endif %}
      </div>

      <br>

      <div class="entry-social">
        <span class="twitter">
          <a target="_blank" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;" title="Twitter" href="https://twitter.com/share?url={{ SITEURL }}/{{ article.url }}&text={{ article.title }}&via={{ TWITTER_USERNAME }}">
            <img src="{{ SITEURL }}/theme/images/icons/twitter-s.png">
          </a>
        </span>

        <span class="gplus">
          <a target="_blank" title="Google +" href="https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}&hl=fr" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">
            <img src="{{ SITEURL }}/theme/images/icons/google-s.png">
          </a>
        </span>

        <span class="facebook">
          <a target="_blank" title="Facebook" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" href="https://www.facebook.com/sharer.php?u={{ SITEURL }}/{{ article.url }}&t={{ article.title }}">
            <img src="{{ SITEURL }}/theme/images/icons/facebook-s.png">
          </a>
        </span>

        <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ SITEURL }}/{{ article.url }}&title={{ article.title }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">
          <img src="{{ SITEURL }}/theme/images/icons/linkedin-s.png">
        </a>

        <span class="mail">
          <a href="mailto:?subject={{ article.title }}&amp;body=在 {{ AUTHOR }} 的网站上发现有关 [{{ article.title }}] 的文章。 {{ SITEURL }}/{{ article.url }}" title="Share by Email" target="_blank"><img src="{{ SITEURL }}/theme/images/icons/mail-s.png">
          </a>
        </span>
      </div>
    </div>

    {% if article.prev_article %}
      <a href="{{ SITEURL }}/{{ article.prev_article.url}}"
      class="change-page left">
        &lt;  {{ article.prev_article.title }}
      </a>
    {% endif %}
    {% if article.next_article %}
      <a href="{{ SITEURL }}/{{ article.next_article.url}}"
        class="change-page right">
        {{ article.next_article.title }}  &gt;
      </a>
    {% endif %}
    <hr style="margin-top: 70px;">
    <h2 style="text-align: center; margin: 15px 0 0 0;">选一个评论框评论？</h2>
    <div class="comment">
      <script>
        var switch_comment = function (name) {
          if (name === 'disqus') {
            document.getElementById('disqus_thread').style.display="block";
            document.getElementById('gitalk').style.display="none";
            document.getElementById('disqus_comment').style.background="#ff7300";
            document.getElementById('disqus_comment').style.color="#fff";
            document.getElementById('gitalk_comment').style.background="#ddd";
            document.getElementById('gitalk_comment').style.color="#000";
          } else if (name === 'gitalk') {
            document.getElementById('disqus_thread').style.display="none";
            document.getElementById('gitalk').style.display="block";
            document.getElementById('disqus_comment').style.background="#ddd";
            document.getElementById('disqus_comment').style.color="#000";
            document.getElementById('gitalk_comment').style.background="#ff7300";
            document.getElementById('gitalk_comment').style.color="#fff";
          }
        };
      </script>
      <ul class='comment_switch_head'>
        <li id="disqus_comment">
          <button class="comment_switch" onclick="switch_comment('disqus')">Disqus</button>
        </li>
        <li id="gitalk_comment">
          <button class="comment_switch" onclick="switch_comment('gitalk')">Gitalk</button>
        </li>
      </ul>
      <!-- DISQUS BEGIN -->
      {% if DISQUS_SITENAME %}
        <div id="disqus_thread"></div>
        <script data-cfasync="false" type="text/javascript">
          var disqus_config = function () {
            this.page.url = "{{ article.url }}";
            this.page.identifier = "{{ article.url }}";
          };
          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://yavhk-blog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
      {% endif %}
      <!-- DISQUS END -->
      <!-- GITALK BEGIN -->
      {% if GITALK_ID %}
        <div id="gitalk"></div>
          <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
        <script>
          const gitalk = new Gitalk({
            clientID: '{{ GITALK_ID }}',
            clientSecret: '{{ GITALK_SECRET }}',
            repo: '{{ GITALK_REPO }}',
            owner: '{{ GITALK_OWNER }}',
            admin: ['{{ GITALK_OWNER }}'],
            id: '{{ article.url }}',
            distractionFreeMode: true
          })

          gitalk.render('gitalk')
        </script>
      {% endif %}
      <!-- GITALK END -->
    </div>

  </article>
</section>
{% endblock %}
